.about-container {
    text-align: left;
    margin-top: 5%;
    display: flex;
    align-content: center;
    align-items: center;
    margin: 100px 0px 50px 0px;
}


#about-logo {
    width: 200px;
    margin-right: 44px;
}

.about-description-container {
    text-align: left;
    margin-right: 100px;
    line-height: 2;
}

.about-main-container {
    margin-left: 10%;
    margin-right: 10%;
}

.flourescent-about {
    height: 25px;
    flex-shrink: 0;
    background: linear-gradient(90deg, #5D95A4 0%, #C97838 100%);
}

.statement-container {
    text-align: left; 
    line-height: 2;
    margin-bottom: 100px;
}

/* Small screens (phones) */
@media (max-width: 600px) {
.about-container {
    display: block;
    text-align: center;
    margin: 10px 10px 10px 10px;
}

.about-description-container {
    margin-left: 12px;
    margin-right: 24px;
}

.statement-container {
    margin-left: 24px;
    margin-right: 24px;
}

.about-main-container {
    margin-left: 32px;
}

#about-logo {
    width: 150px;
    margin-right: 0px;
    margin-top: 20px;
}

}