.collection-item img {
    width: 80%;
    border-radius: 6px;
}

.collection-item {
    position: relative;
}

.videoCover {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: -120px;
}


.middleTitle {
    position: absolute;
    color: white;
    z-index: 1;
    top: 10%;
    left: 10%;
    display: flex;

}

.vidCred {
    position: absolute;
    color: rgb(132, 92, 188);
    z-index: 1;
    top: 60%;
    right: 16px;
    display: flex;
}

@media (max-width: 600px) {

}

@media (min-width: 1025px) {
    .collection-item img {
        width: 33%;
    }

    .vidCred {
        position: absolute;
        color: white;
        z-index: 1;
        top: 80%;
        right: 24px;
        display: flex;
    }
}