
.trinity-container {
    text-align: center;
    width: 100%;
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
}

.home-container {
    text-align: center;
}

.hero-container {
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
    padding-bottom: 16px;
}

.spaced {
    letter-spacing: 14px;
    margin-bottom: 7px;
}

.less-spaced {
    letter-spacing: 7px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#stars {
    width: 144px;
}

.slogan {
    word-spacing: 14px;
    padding-bottom: 0px;
    margin-top: 0px;
    color: #134074;
}


@media (max-width: 600px) {
    .hero-container img{
        display: none;
    }

    .slogan {
        padding-top: 16px;
        padding-bottom: 16px;
        margin-bottom: 4px;
        text-align: center;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {

    .hero-container {
        text-align: center;
        margin-top: 16px;
    }

    .hero-container img {
        text-align: center;
        width: 98%;
    }

    .trinity-container {

        box-shadow: none;
    }

    .slogan {
        position: absolute;
        font-size: 50px;
        left: 50px;
        top: 150px;
        color: white;
        text-align: center;
        mix-blend-mode: soft-light;
    }
}

@media (min-width: 1025px) {

    .hero-container {
        text-align: center;
        margin-top: 16px;
    }

    .hero-container {
        display: block;
        text-align: center;
    }

    .hero-container img {
        text-align: center;
        width: 98%;
    }

    .slogan {
        position: absolute;
        font-size: 100px;
        left: 100px;
        top: 200px;
        color: white;
        text-align: center;
        mix-blend-mode: soft-light;
    }

    .trinity-container {

        box-shadow: none;
    }

}