

.trinity-container {
    text-align: center;
    width: 100%;
}

.trinity-container img {
    text-align: center;
    width: 400px;
}

.wave-container img {
    text-align: center;
    width: 600px;
}

.wave-container {
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
    padding-bottom: 16px;
}

.spaced {
    letter-spacing: 14px;
    margin-bottom: 0px; 

}

.less-spaced {
    letter-spacing: 7px;
}

#stars {
    width: 144px;
}

#hidden {
    display: none;
    margin-left: 16px;
    margin-right: 16px;
}

@media (max-width: 600px) {
    .wave-container img{
        display: none;
    }

    .slogan {
        display: none;
    }

}


@media (min-width: 601px) and (max-width: 1024px) {

    .wave-container {
        text-align: center;
        margin-top: 16px;
    }

    .wave-container img {
        text-align: center;
        width: 98%;
    }

    .trinity-container img {
        width: 600px;
    }

    .slogan {
       display: none;
    }
}

@media (min-width: 1025px) {

    .wave-container {
        text-align: center;
        margin-top: 16px;
    }

    .wave-container {
        display: block;
        text-align: center;
    }

    .wave-container img {
        text-align: center;
        width: 98%;
    }

    .slogan {
        position: absolute;
        font-size: 100px;
        margin-left: 100px;
        margin-top: 100px;
        color: white;
    }

}