.item-container {
    display: inline-flex;
    padding: 120px 20px 120px 20px;
    background-color: rgb(244, 244, 244);
}

.item-img img {
    width: 100%;
}

.item-description {
    text-align: left;
    padding: 12px 12px 12px 12px;
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);


}


@media (max-width: 600px) {

  
}



@media (min-width: 601px) and (max-width: 1024px) {

 

}


@media (min-width: 1025px) {
  
}