.item-container {
    display: inline-flex;
    padding: 100px 33px 100px 33px;
    background-color: rgb(244, 244, 244);
}

.item-img img {
    width: 100%;
}

.item-description {
    text-align: left;
    margin: 24px 12px 24px 12px;
}


@media (max-width: 600px) {

  
}



@media (min-width: 601px) and (max-width: 1024px) {

 

}


@media (min-width: 1025px) {
  
}