

#scroll-container {
    width: 100%;
    height: 3rem;
    font-family: Playfair Display;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    margin-top: 32px;
}
#scroll-container .scroll {
    /* background: #000; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 30s linear infinite;
}
.fade {
    width: 100%;
    position: absolute;
    background: linear-gradient(
        90deg,
        #070F19,
        transparent 10%,
        transparent 90%,
        #070F19
    );
    inset: 0;
    pointer-events: none;
}

#scroll-container .scroll {
    position: fixed;
}
#scroll-container .scroll#scroll-two {
    transform: translateX(100%);
    animation-delay: 15s; 
}
@keyframes loop {
    0% {transform: translateX(100%);}
    100% {transform: translateX(-100%);}
}

.scroll-item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    font-size: .9rem;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    color: #c5e3fe;
}


/* Small screens (phones) */
@media (max-width: 600px) {

}

