.item-container {
    background-color: aqua;
    max-width: max-content;
    text-align: center;
    padding: 50px 50px 50px 50px;
}

.item-container img {
    width: 400px;
}

@media (max-width: 600px) {

    .item-container {
        background-color: aqua;
        max-width: max-content;
        display: inline-flex;
        margin-bottom: 5px;
        padding: 50px 50px 50px 50px;
        box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
        flex-wrap: wrap;
    }

    .item-container img {
        width: 80%;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {

    .item-container img {
        width: 80%;
    }
    .items {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}


@media (min-width: 1025px) {
    .item-container {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .item-container img {
        width: 80%;
    }
}