.item {
    background-color: rgb(244, 244, 244);
    max-width: max-content;
    text-align: center;
    margin: 12px 12px 12px 12px;
}

.item img {
    width: 400px;
}

.title {
    text-align: left;
    margin-top: 24px;
    margin-left: 12px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);

}

@media (max-width: 600px) {

    .item {
        max-width: max-content;
        display: inline-flex;
        margin-bottom: 5px;
        padding: 100px 50px 100px 50px;
        box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
        flex-wrap: wrap;
    }

    .item img {
        width: 80%;
    }
}



@media (min-width: 601px) and (max-width: 1024px) {

    .item img {
        width: 80%;
    }
    .items {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}


@media (min-width: 1025px) {
    .item {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .item img {
        width: 80%;
    }
}