html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}


.border-line {
    text-decoration: solid;
    box-shadow: 0px 1px 1px 0px rgba(126, 126, 126, 0.10);
}

body {
    text-align: center;
}

h1, h2 {
    font-family: Playfair Display;
    color: #0B2545;

}

h3 {
    font-family: Sumana;
    color: #0B2545;
}

p {
    font: Karla;
    color: #0B2545;
}

a:visited {
    color: #0B2545; /* Link color after it has been visited */
}
